.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.header > div {
  display: flex;
  align-items: center;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.trigger {
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 18px;
  height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.content {
  height: calc(100vh - 104px);
  padding: 24px;
  background-color: #fff;
}
