.header {
  width: 100%;
  display: flex;
  position: fixed;
  height: 48px;
  padding: 0 16px;
  z-index: 9999;
}

.sider {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 48px;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.logo > a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
}
.logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}
.logo h1 {
  display: inline-block;
  height: 32px;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  vertical-align: middle;
  animation: pro-layout-title-hide 0.3s;
}

.trigger {
  display: flex;
  align-items: center;
  padding: 0 14px;
  font-size: 18px;
  height: 48px;
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.content {
  padding: 24px;
  padding-top: 48px;
  min-height: 100%;
  background-color: #f0f2f5;
}

.content .main {
  min-height: calc(100% - 36px);
  padding: 24px;
  background-color: #fff;
}
